<form>
	<img src='images/portfolio/Chi 1.jpg'>
	<img class='pull-right' src='images/portfolio/Chi 2.jpg'>
	<img class='square' src='images/portfolio/LSP 1.jpg'>
	<img src='images/portfolio/Chi 3.jpg'>
	<img class='pull-right' src='images/portfolio/Chi 4.jpg'>
	<img class='square' src='images/portfolio/SF 1.jpg'>
	<img class='pull-right' src='images/portfolio/Chi 6.jpg'>
	<img src='images/portfolio/Chi 5.jpg'>
	<img class='square' src='images/portfolio/Boston 1.jpg'>
	<img src='images/portfolio/Boston 3.jpg'>
	<img class='pull-right' src='images/portfolio/Philly.jpg'>
	<img class='square' src="images/portfolio/Birds.jpg">
	<img src='images/portfolio/Chi 7.jpg'>
	<img class='pull-right' src="images/portfolio/OC 1.jpg">
	<img src="images/portfolio/OC 3.jpg">
	<img class='pull-right' src="images/portfolio/Plane.jpg">
	<img class='square' src="images/portfolio/City Hall 3.jpg">
</form>