<form>
	<img src='images/Portfolio/Chi 1.jpg'>
	<img class='pull-right' src='images/Portfolio/Chi 2.jpg'>
	<img class='square' src='images/Portfolio/LSP 1.jpg'>
	<img src='images/Portfolio/Chi 3.jpg'>
	<img class='pull-right' src='images/Portfolio/Chi 4.jpg'>
	<img class='square' src='images/Portfolio/SF 1.jpg'>
	<img class='pull-right' src='images/Portfolio/Chi 6.jpg'>
	<img src='images/Portfolio/Chi 5.jpg'>
	<img class='square' src='images/Portfolio/Boston 1.jpg'>
	<img src='images/Portfolio/Boston 3.jpg'>
	<img class='pull-right' src='images/Portfolio/Philly.jpg'>
	<img class='square' src="images/Portfolio/Birds.jpg">
	<img src='images/Portfolio/Chi 7.jpg'>
	<img class='pull-right' src="images/Portfolio/OC 1.jpg">
	<img src="images/Portfolio/OC 3.jpg">
	<img class='pull-right' src="images/Portfolio/Plane.jpg">
	<img class='square' src="images/Portfolio/City Hall 3.jpg">
</form>